@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
:root{
    --primary-color:#161F6D;
    --secondary-color:#9CF6FB;
    --bgg-color:#F7F7F7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
body{
    background-color: var(--bgg-color);
}
    

.container{
    width: 70%;
    margin: auto;
    min-height: 100vh;
}
.heading h1{
    padding: 2rem 1rem 0rem;
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
}
.heading p{
    padding: 1rem 0rem;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.5rem;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 2rem;

}

input{
    width: 30%;
    padding: 1rem;
    border: none;
    outline: none;
    border: 2px solid var(--secondary-color);
    border-radius: 5rem;
    background: none;
    margin-top: 0.5rem;
    color: var(--primary-color);
    font-weight: 600;
}
#submit{
    width: 20%;
    padding: 1rem;
    border-radius: 5rem;
    background-color: var(--primary-color);
    border: none;
    margin-top: 1.5rem;
    color: var(--bgg-color);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
::placeholder{
    color: var(--primary-color)
}
.output{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0; 
}
.footer{
    padding: 1.5rem 0;
    text-align: center;
}
.footer h2{
    color: var(--primary-color);
    font-size: 1.6rem;
}
.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.social a{
    text-decoration: none;
    color :var(--primary-color);
    font-weight: 600;
}